 @using Microsoft.AspNetCore.Identity.Data;
@model OmSaiModels.Admin.ProjectModel

@{
	ViewData["Title"] = "Edit Project";

	var StatusList = new List<string>(){
		"Upcomping","Running","Completed","Cancelled"
	};

}


<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6">
                <h3 class="page-title">
                    Edit Project
                </h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Project" asp-action="Index">Project</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Edit
                    </li>
                </ol>
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content Header--> <!--begin::App Content-->


<div class="app-content">
	<div class="container-fluid">
		<partial name="~/Views/shared/_alertpartial.cshtml" />
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">

				<div class="card mb-4">
					<div class="card-header">
						<h4 style="padding:5px 7px "><b>Update form</b></h4>
					</div>
					<form id="assetForm" method="post" asp-area="admin" asp-controller="Project" asp-action="Edit"  >
                        <input type="hidden" asp-for="ProjectId" id="projectId" />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5 mb-3">
                                    <div class="form-group">
                                        <label asp-for="ProjectName" class="form-label">Project Name</label>
                                        <input type="text" asp-for="ProjectName" class="form-control" placeholder="Project Name">
                                        <span asp-validation-for="ProjectName" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="TotalManPower" class="form-label">Total Man-Power</label>
                                        <input type="number" asp-for="TotalManPower" class="form-control" placeholder="Total Man Power">
                                        <span asp-validation-for="TotalManPower" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label asp-for="ProjectBudget" class="form-label">Project Budget</label>
                                        <input type="number" asp-for="ProjectBudget" class="form-control" placeholder="Project Budget">
                                        <span asp-validation-for="ProjectBudget" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <div class="form-group mb-0">
                                        <label asp-for="ProjectDiscription" class="form-label">Project Description</label>
                                        <textarea rows="2" asp-for="ProjectDiscription" class="form-control" placeholder="Here can be your description"></textarea>
                                    </div>
                                </div>



                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <div class="form-label">Project Status</div>
                                        <div class="custom-controls-stacked">

                                            @foreach (string status in StatusList)
                                            {
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" asp-for="Status" value="@status">
                                                    <div class="custom-control-label">@status</div>
                                                </label>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="ProjectStartDate" class="form-label">Project Start Date</label>
                                        <input type="date" asp-for="ProjectStartDate" class="form-control" placeholder="Project Start Date">
                                        <span asp-validation-for="ProjectStartDate" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-outline-warning" id="btnSubmit">Update</button>
                                <a class="btn btn-outline-danger" asp-area="Admin" asp-controller="Project" asp-action="Index">Cancel</a>
                            </div>

                            @* <button type="submit" class="btn btn-primary">Update Profile</button> *@
                        </div>

					</form>
				</div>
			</div>
		</div>
	</div>
    </div>


